<main class="page-wrapper">
  <app-header *ngIf="!isMobileScreen"></app-header>

  <nz-affix *ngIf="isMobileScreen">
    <app-header (clickMenuButton)="triggerMobileMenuDrawer()" *ngIf="isMobileScreen"></app-header>
  </nz-affix>

  <nz-drawer [nzClosable]="false" [nzVisible]="drawerSidebarVisible && isMobileScreen" [nzBodyStyle]="{padding: 0}"
    nzPlacement="left" [nzWrapClassName]="'mobile-menu-drawer'" [nzTitle]="mobileMenuDrawerTitle"
    (nzOnClose)="drawerSidebarVisible=false">
    <ng-template #mobileMenuDrawerTitle>
      <nz-card class="w-100" [nzActions]="[actionSetting,actionEdit]">
        <nz-card-meta nzTitle="Hoàng đỗ" [nzAvatar]="avatarTemplate"></nz-card-meta>
      </nz-card>
      <ng-template #avatarTemplate>
        <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
      </ng-template>
      <ng-template #actionSetting>
        <i nz-icon type="user"></i>
      </ng-template>
      <ng-template #actionEdit>
        <i nz-icon type="logout"></i>
      </ng-template>
    </ng-template>

    <app-sidebar (selectItem)="triggerMobileMenuDrawer()"></app-sidebar>
  </nz-drawer>
  <section class="main-wrapper">
    <div nz-row>
      <div nz-col [nzSm]="0" [nzXs]="0" [nzMd]="7" [nzXl]="5" [nzXXl]="4" class="sidebar-bg" *ngIf="!isMobileScreen">
        <nz-affix>
          <app-sidebar></app-sidebar>
        </nz-affix>
      </div>
      <div nz-col [nzSm]="24" [nzXs]="24" [nzMd]="17" [nzXl]="19" [nzXXl]="20" class="content-bg">
        <article class="content-container">
          <router-outlet></router-outlet>

        </article>
        <nz-footer class="text-center">Ant Design ©2017 Implement By Angular</nz-footer>
      </div>
    </div>
  </section>
</main>
